.img_carrosseis img{
    width: 700px;
    height: 400px;
    margin-left: 350px;
}
  
@media screen and (max-width:414px){
    .img_carrosseis img{
        width: 323px;
        height: 210px;
        margin-left: 45px;
    } 
}