.form_contato div{
    background-color: darkmagenta;
}
.form_contato form{
    padding-left: 430px;
    background-color: darkmagenta;
    height: 380px;

}
.form_contato legend{
    padding-left: 130PX;
    color: goldenrod; 
    filter: drop-shadow(4px 4px 4px goldenrod);
}
.form_contato input{
    display: flex;
    width: 500px;
    border-radius: 10px;
    border-style: none;
}
/*.form_contato input::placeholder{
    color: goldenrod; 
    background-color: dimgray;
}*/
.form_contato textarea{
    border-radius: 10px;
}
.butao{
    height: 40px;
    max-width: 160px;
    text-align: center;
    border-radius: 30px;
    margin-left: 145px;
    padding-left: 20px;
    background-color: rgb(43, 12, 71);
    color: goldenrod; 

    box-shadow:
    11.9px 13.3px 10.7px rgba(0, 0, 0, 0.9),
    32.9px 36.8px 29.6px rgba(0, 0, 0, 0.571),
    79.3px 88.6px 71.1px rgba(0, 0, 0, 0.42),
    263px 294px 236px rgba(0, 0, 0, 0.278)
  ;
  
  
}


/*===========CELULAR=========*/

@media screen and (max-width:375px){
    .g, .se input{
        max-width: 305px;
        margin-left: 11px;
    }
    .se, .g input{
        max-width: 305px;
        margin-left: 11px;
    }

}
    


/*@media screen and (max-width:390px){
    .form_contato input{
        max-width: 320px;
    }
    .form_contato textarea{
        max-width: 320px;
    }
    .butao input{
        max-width: 30px;
    }
}*/

@media screen and (max-width:360px){
    .g, .se input{
        max-width: 305px;
        margin-left: 12px;

    }
    .se, .g input{
        margin-left: 12px;
        max-width: 305px;
    }
    
}

@media screen and (max-width:414px){
    .form_contato div{
        background-color: darkmagenta;
    }
    .form_contato form{
        padding-left: 30px;
        background-color: darkmagenta;
        height: 380px;
    
    }
    .form_contato legend{
        padding-left: 80PX;
        color: goldenrod; 
        filter: drop-shadow(4px 4px 4px goldenrod);
    }
    .form_contato input{
        text-align: center;
        display: flex;
        width: 345px;
        border-radius: 10px;
        border-style: none;
    }
    /*.form_contato input::placeholder{
        color: goldenrod; 
        background-color: dimgray;
    }*/

@media screen and (max-width:375px){
        .form_contato textarea{
            margin-left: 11px;
            max-width:310px ;
        }
}
    .form_contato textarea{
        width: 350px;
        border-radius: 10px;
    }

    .butao{
        height: 40px;
        max-width: 160px;
        margin-left: 90px;
        padding-left: 20px;
        text-align: center;
        background-color: rgb(43, 12, 71);
        color: goldenrod; 
    
        box-shadow:
        11.9px 13.3px 10.7px rgba(0, 0, 0, 0.9),
        32.9px 36.8px 29.6px rgba(0, 0, 0, 0.571),
        79.3px 88.6px 71.1px rgba(0, 0, 0, 0.42),
        263px 294px 236px rgba(0, 0, 0, 0.278)
      ;
      
      
    }
    
}

