

.sobremim p{
    color:rgb(43, 12, 71);
    flex-wrap: wrap;
    width: 500px;
    height: 150px;
    position: absolute;
    text-align: center;
    margin-left: 30%;
    margin-top: -290px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 414px){
    .sobremim p{
        color:rgb(43, 12, 71);
        flex-wrap: wrap;
        width: 330px;
        height: 150px;
        position: absolute;
        text-align: center;
        margin-left: 28px;
        margin-top: -375px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
}