body{
    margin: 0 0;
}

.titulo h1 {
    text-align: center;
    flex-wrap: wrap;
    color: rgb(43, 12, 71);

    filter: drop-shadow(8px 8px 4px darkmagenta);
}

@media screen and (max-width: 414px){
    .titulo h1 {
        width: 400px;
        padding-top: 9px;
        text-align: center;
        flex-wrap: wrap;
        color: rgb(43, 12, 71);
    
        filter: drop-shadow(8px 8px 4px darkmagenta);
    }
}