.tecnologia h1{
    text-align: center;
    color: rgb(43, 12, 71);
    filter: drop-shadow(8px 8px 4px darkmagenta);
}

.img_tec img{
    height: 120px;
    width: 200px;
    margin: 0 2em;
    margin-left: 87px;
    border-radius: 30px;

    box-shadow:
       
        1px 1.5px 0px rgba(0, 0, 0, 0.119),
        2.3px 3.6px 0px rgba(0, 0, 0, 0.119),
        4.2px 6.4px 0px rgba(0, 0, 0, 0.147),
        6.9px 10.6px 0px rgba(0, 0, 0, 0.173),
        11.4px 17.5px 0px rgba(0, 0, 0, 0.201),
        19.9px 30.5px 0px rgba(0, 0, 0, 0.237),
        43px 66px 0px rgba(0, 0, 0, 0.32)
    ;
 
}
.tecnologia p{
    position: absolute;
    color: darkgoldenrod;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.Preact{
    margin-left: 200px;
    margin-top: 60px;
}
.Pjs{
    margin-left: 510px;
    margin-top: 60px;
}
.Phtml{
    margin-left: 845px;
    margin-top:60px;
}
.Pcss{
    margin-left:1160px;
    margin-top:60px;
}


/*==========CELULAR===============*/


@media screen and (max-width:414px){


    .tecnologia h1{
        text-align: center;
        color: rgb(43, 12, 71);
        filter: drop-shadow(8px 8px 4px darkmagenta);
    }

/*@media screen and (max-width:375px){
    .img_tec img{
        flex-direction: row;
        height: 100px;
        max-width: 110px;
        border-radius: 30px;
        margin-left: 5px;
        margin-top: 60px;
}   */

    .img_tec img{
        flex-direction: row;
        height: 100px;
        width: 105px;
        border-radius: 30px;
        margin-left: 10px;
        margin-top: 60px;
    
        box-shadow:
            1.6px 0.7px 0px rgba(0, 0, 0, 0.134),
            3.7px 1.7px 0px rgba(0, 0, 0, 0.195),
            6.5px 2.9px 0px rgba(0, 0, 0, 0.24),
            10.3px 4.6px 0px rgba(0, 0, 0, 0.28),
            15.8px 7.1px 0px rgba(0, 0, 0, 0.32),
            24.7px 11.2px 0px rgba(0, 0, 0, 0.365),
            41px 18.5px 0px rgba(0, 0, 0, 0.426),
            82px 37px 0px rgba(0, 0, 0, 0.56)
        ;
    }

    .tecnologia h1{
     margin-top: 30px;
    }
    .tecnologia p{
        position: absolute;
        color: rgb(43, 12, 71);
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .Preact{
        margin-left: 115px;
        margin-top: 30px;
    }
    .Pjs{
        margin-left: 250px;
        margin-top: 30px;
    }
    .Phtml{
        margin-left: 120px;
        margin-top:30px;
    }
    .Pcss{
        margin-left:275px;
        margin-top:30px;
    }
}
