.tecnologia h1{
    text-align: center;
    color: rgb(43, 12, 71);
    filter: drop-shadow(8px 8px 4px darkmagenta);
}

.img_tec img{
    height: 120px;
    width: 200px;
    margin: 0 2em;
    margin-left: 87px;
    border-radius: 30px;

    box-shadow:
       
        1px 1.5px 0px rgba(0, 0, 0, 0.119),
        2.3px 3.6px 0px rgba(0, 0, 0, 0.119),
        4.2px 6.4px 0px rgba(0, 0, 0, 0.147),
        6.9px 10.6px 0px rgba(0, 0, 0, 0.173),
        11.4px 17.5px 0px rgba(0, 0, 0, 0.201),
        19.9px 30.5px 0px rgba(0, 0, 0, 0.237),
        43px 66px 0px rgba(0, 0, 0, 0.32)
    ;
 
}
.tecnologia p{
    position: absolute;
    color: darkgoldenrod;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.Preact{
    margin-left: 200px;
    margin-top: 60px;
}
.Pjs{
    margin-left: 510px;
    margin-top: 60px;
}
.Phtml{
    margin-left: 845px;
    margin-top:60px;
}
.Pcss{
    margin-left:1160px;
    margin-top:60px;
}